.top{
color: rgb(33, 33, 33);
}
.h1{
    color: rgb(33, 33, 33);
}
.info{
    color: rgb(33, 150, 243);
}
.in card{
    color: rgb(255, 255, 255);
}
.adress-links{
    color: rgb(255, 255, 255);
}
.gmail{
    color: rgba(255, 255, 255, 0.6);
}
.number{
   color: rgba(255, 255, 255, 0.6)
}
.card-user{
    color: rgb(33, 33, 33);
}
.navbar-link{
     color: rgb(33, 33, 33);
}
.user{
    color:rgb(117, 117, 117)
}
.box2{
   color: rgb(117, 117, 117)
}
.box3{
    color:rgb(117, 117, 117)
}
.order{
    color:rgb(33, 150, 243)
}
.efect{
    color: rgb(255, 255, 255);
}
a4{
    color: red;
}
a5{
    color: red;
}
p+ul{
    font-size: 24px;
}